.attendee-item {
  img {
    transition: 0.25s;
  }

  /* {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }*/
}

.attendee-item:hover {
  background-color: rgba(244, 244, 244, 0.9) !important;

  small {
    text-decoration: underline;
  }

  img {
    border-radius: 20% !important;
  }
}

#newMeeting-attendee-list {
  padding-bottom: 15px;
}